<div class="contenedor">
  <header class="header">
    <h1>Gestión Hospitalaria</h1>
  </header>
  <section class="section">
    <div class="inicio">
      <div>
        <h2>Rut del paciente</h2>
          <span class="material-symbols-outlined"> edit_calendar </span>
      </div>
      <div class="login_form">
        <div class>
          <label for="user"> Rut del paciente </label>
          <input type="text" [(ngModel)]="inputRut" id="user" />
        </div>
      </div>

      <button (click)="irPacienteScheduler()">Buscar</button>
    </div>
  </section>
  <footer class="footer">Desarrollado por Ignacio Ramos.</footer>
</div>