<div class="contenedor">
  <header class="header">
    <h1>Gestión Hospitalaria</h1>
  </header>
  <section class="section">
    <div class="inicio">
      <div class="contenedor_bienvenido">
        <h2 class="texto_inicio">
          <span class="material-symbols-outlined">assignment</span>
          Gestión Indicaciones
        </h2>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder=""
            #input
          />
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let row">{{ row.id }}</td>
            </ng-container>

            <ng-container matColumnDef="content">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Indicación</th>
              <td mat-cell *matCellDef="let row">{{ row.content }}</td>
            </ng-container>

            <ng-container matColumnDef="Editar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Actualizar
              </th>
              <td mat-cell *matCellDef="let row">
                <button>Editar</button>
              </td></ng-container>

            <ng-container matColumnDef="Borrar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Eliminar
              </th>
              <td mat-cell *matCellDef="let row"><button (click)="delIndicaciones(row.id)"> Eliminar</button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">
                No data matching the filter "{{ input.value }}"
              </td>
            </tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">Desarrollado por Ignacio Ramos.</footer>
</div>
